<div id="frameBar" class="shadow-sm">
    <div class="frame-wrapper"></div>
   
    <div id="frame-win">
        <div class="frame-win-header">
            <img src="<%=srcIcon%> " alt="icon" class="frame-app-icon">
            <span class="frame-app-title"> <%=title%> </span>
        </div>
        <div class="frame-actions">
            <button class="frameBtn btnMinimize" id="frameBtn_minimize">
                <i class="fa fa-window-minimize"></i> <!--Al final terminamos usando el icono de fa :p-->
            </button>
            <!--<button class="frameBtn btnMaximized">
                <i class="fa fa-window-maximize"></i>
            </button>-->
            <button class="frameBtn btnClose" id="frameBtn_close">
                <i class="fas fa-x"></i>
            </button>
        </div>
    </div>
</div>