<div id="frameBar">
    <div class="frame-wrapper"></div>
   
    <div id="frame-win">
        <div class="frame-win-title">
            <img src="" alt="icon" class="frame-app-icon">
            <span class="frame-app-title"> <%=title%> </span>
        </div>
        <div class="frame-actions">
            <button class="frameBtn btnMinimized" id="frameBtn_minimize">
                <i class="fas fa-minimize"></i>
            </button>
            <!--<button class="frameBtn btnMaximized">
                <i class="fas fa-maximized"></i>
            </button>-->
            <button class="frameBtn btnClose" id="frameBtn_close">
                <i class="fas fa-x"></i>
            </button>
        </div>
    </div>
</div>