<div class="container">
    <div class="row">
        <div class="col-auto">
            <select id="cbVersions" class="form-select" aria-label="Default select example">
                 <option selected>Downloading versions</option>
            </select>
        </div>
        <div class="col-auto">
            <button id="btnLaunch" class="btn btn-success btn-lg">Iniciar!</button>
        </div>
        <div class="col-auto">
            <input id="Nickname" type="text" class="form-control" placeholder="Nickname">
        </div>
    </div>

    <script src="../js/scripts/launcher.js"></script>
</div>