<div id="mainContainer">
    <div class="section-header">
        <div class="left">
            <h2>Derecha</h2>
        </div>
        <div class="right">
            <div class="user-card">
                <div class="user-card-name">
                    <span id="user-name-text">Username</span>
                </div>
                <div class="user-card-image">
                    <img src="../assets/user.png" alt="user-icon">
                </div>
            </div>

            <div id="combobox">
                <div id="combobox-selected-item">
                    <img id="combobox-selected-item-img" src="../assets/minecraft-icon.png" alt="icon-i">
                    <div class="combobox-selected-item-info">
                        <span id="combobox-selected-item-text">NSMPSM</span>
                        <span id="combobox-selected-item-sub_text">Minecraft 1.12.2</span>
                    </div>
                    <i class="icon fas fa-caret-down"></i>
                </div>
                <div id="combobox-list">
                    <div class="combobox-item">
                        <img src="../assets/minecraft-icon.png" alt="">
                        <span>Item Name</span>
                    </div>
                    <div class="combobox-item">
                        <img src="../assets/minecraft-icon.png" alt="">
                        <span>Item Name 2</span>
                    </div>

                </div>
            </div>

            <button id="button-play">INICIAR</button>
        </div>
    </div>

    <script src="../js/scripts/launcher.js"></script>
</div>