<div id="mainContainer">
    <div class="section-header">
        <div class="left">
            <h2>Derecha</h2>
        </div>
        <div class="right">
            <div class="user-card">
                <div class="user-card-name">
                    <span id="user-name-text">Username</span>
                </div>
                <div class="user-card-image">
                    <img src="../assets/user.png" alt="user-icon">
                </div>
            </div>
        </div>
    </div>
</div>