<div id="preloader">
    <div class="preloader-wrapper">
        <div class="custom-loader"></div>
        <h5>Cargando...</h5>
        <br>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, distinctio!</span>
    </div>
</div>