@font-face {
    font-family: "minecraft";
    src: url(../fonts/Minecraft.ttf);
}

#button-play {
    width: 85%;
    height: 43px;
    background-color: rgb(16, 143, 22);
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    color: #fff;
    font-size: 16px;
    font-family: "minecraft", "helvetica", sans-serif;
    transition: all 0.5s linear;
    cursor: pointer;

    &:hover {
        background-color: rgb(12, 99, 16);
        color: #fff;
        border: 2px solid rgb(223, 223, 223);
    }

}