@use "_user-card.scss";
@use "_combobox.scss";
@use "_button-play.scss";

#mainContainer {
    position: relative;
    height: 100%;

    .section-header {
         position: relative;
        top: 0px;
        height: 85%;
        display: flex;

        .left {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-right: 2px solid rgb(95, 95, 95);
        }

        .right {
            width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
    }
}
