$color-text: #fff;

.user-card {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    min-width: 180px;
    max-width: 380px;
    border-radius: 5px;
    position: fixed;
    top: 45px;
    right: 10px;
    overflow: hidden;
    transition: background 0.5s linear;
    cursor: pointer;
}

.user-card:hover {
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.user-card-name {
    margin: 0px 10px;

    #user-name-text {
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        color: rgb(26, 26, 26);
    }
}

.user-card-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid rgb(51, 51, 51);
    overflow: hidden;
    margin-right: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}